{% extends "layout.html" %}

{% block head %}
  <title>Fossilizer Index</title>
{% endblock head %}

{% block pagetitle %}Fossilizer Index{% endblock pagetitle %} 

{% block content %}
  <section class="container mt-3 m-auto justify-content-center">
    <div class="col index-calendar-outline">
      {%- for year, months in calendar -%}
        <details class="year">
          <summary><h2>{{ year }} ({{ months | length }})</h2></summary>
          {%- for month, days in months -%}
            <details class="month">
              <summary><h3>{{ month }} ({{ days | length }})</h3></summary>
              <div class="col">
                <ul class="index-list">
                  {%- for day, entry in days -%}
                    <li class="card day">
                      <a href="./{{ entry.current.path | safe }}">{{ entry.current.date }} ({{ entry.current.count }})</a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          {%- endfor -%}
          </details>
      {%- endfor -%}
    </div>
  </section>
{% endblock content %}
