{% extends "layout.html" %}

{% block head %}
  <title>{{ day }}</title>
{% endblock head %} 

{% block pagetitle %}
  {% if previous_day %}
    <a href="{{ site_root ~ "/" ~ previous_day.day_path }}" title="{{ previous_day.day }}">⬅️</a>
  {% endif %}
  {{ day }}
  {% if next_day %}
    <a href="{{ site_root ~ "/" ~ next_day.day_path }}" title="{{ next_day.day }}">➡️</a>
  {% endif %}
{% endblock pagetitle %} 

{% block content %}
  <section class="container mt-3 m-auto justify-content-center">
    <div class="col">
      <ul class="text-left search-results justify-content-center activities" data-pagefind-body>
          {% for activity in activities %}
              {% include "activity.html" %}
          {% endfor %}
      </ul>
    </div>
  </section>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-media-attachment">
      <div class="modal-content mh-vh-100">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <figure class="figure">
            <figcaption id="media-attachment-description" class="figure-caption mb-4"></figcaption>
            <img src="" id="media-attachment-display" class="object-fit-xl-contain figure-img img-fluid rounded" alt="...">
          </figure>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
