{% extends "layout.html" %}

{% block head %}
  <title>Fossilizer Index</title>
{% endblock head %} 

{% block pagetitle %}Fossilizer Index{% endblock pagetitle %} 

{% block content %}
  <section class="container mt-3 m-auto justify-content-center">
    <div class="col">
      <ul class="text-left justify-content-center index-list">
        {% for day_entry in day_entries %}
          <li class="card">
            <div class="card-header">
              <a href="./{{ day_entry.day_path | safe }}">{{ day_entry.day }} ({{ day_entry.activity_count }})</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock content %}
