<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧐</text></svg>">
    <link href="/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/index.css" rel="stylesheet">

    <link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>

    {% block head %}
      <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
  </head>
  <body class="">
    <main class="form-search w-100 m-auto">

      <form class="w-100 m-auto" method="GET" action="./">
        <div class="container">
          <div class="row">
            <div class="col">    
              <div id="search"></div>
              <script>
                  window.addEventListener('DOMContentLoaded', (event) => {
                      new PagefindUI({
                        element: "#search",
                        showImages: true,
                      });
                  });
              </script>
            </div>
            <h1 class="text-center mt-4 mb-4">{% block pagetitle %}Fossilizer{% endblock pagetitle %}</h1>
          </div>
        </div>
      </form>
    
      {% block content %} {% endblock content %}

    </main>
    <script src="/vendor/bootstrap.bundle.min.js"></script>
    <script src="/index.js" type="module"></script>
  </body>
</html>
